

header {
position:relative;
  font-family: 'Scope One', serif;
  color: #0066ff;
  background: #fffff;
  text-align: center;
  padding: 8px;
  font-size: 3em;
  margin: 1px;
  max-width: 100%;
}

img{
  width: 100%;
  height: auto;
}

ul.navigation li {
  float: left;
}

ul.navigation {
  list-style-type:none;
  margin: 1;
  padding: 1;
  overflow: hidden;
  background-color: #0066ff;
  text-align: center;
}

ul.navigation li a:hover{
  background-color: #555;
}

ul.navigation li a {
  display: inline-block;
  color:black;
  text-align: center;
  padding: 5px;
  font-size:2em;
  font-family: 'Scope One', serif;
}
